<!DOCTYPE html>
<html>
<head>
  <title>Donors Choose Viz</title>
  <link rel="stylesheet" href="./static/DonorsChoose/static/lib/css/bootstrap.min.css">
  <link rel="stylesheet" href="./static/DonorsChoose/static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="./static/DonorsChoose/static/lib/css/dc.css">
  <link rel="stylesheet" href="./static/DonorsChoose/static/css/custom.css">


</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./dataViz">DonorS ChooZ</a>
      </div>
    </div>
  </div>
  <div class="well" style="background:white">
    <p><b><a href="https://www.donorschoose.org/">DonorsChoose.org</a></b> is a United States–based <b>nonprofit organization</b> founded in 2000, that allows individuals to donate directly to public school classroom projects. DonorsChoose.org enables teachers to request materials and resources for their classrooms and makes these project requests available to individual donors through its website. Donors can give $1 or more to projects that interest them, which are searchable by school name, teacher name, location, school subject, material, and keywords. DonorsChoose.org then purchases necessary supplies and ships them directly to the schools. It was among the <b>first civic crowdfunding platforms</b> of its kind and has been given <b>Charity Navigator’s</b> highest rating every year since 2005.

    <p>The organisation has open-sourced the donation data and we aim to study the data in brief by visualising its' noteworthy characteristics. We developed a quick dashboard using <b>Flask</b> and <b>D3.js</b>, the code for which is available <a href="https://github.com/darshanbagul/DonorsChoose">here</a>.
  </div>
  <div class="container-fluid">

    <div class="row">

      <div class="col-sm-6">
        <div class="row">

          <!-- Time Chart --> 
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Number of Donations
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>
          <!-- Time Chart --> 

          <!-- Resources Pie -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Resources Type
              </div>
              <div class="chart-stage">
                <div id="resource-type-row-chart"></div>
              </div>
            </div>
          </div>
          <!-- Resources Pie -->

          <!-- Poverty Pie -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Poverty Level
              </div>
              <div class="chart-stage">
                <div id="poverty-level-row-chart"></div>
              </div>
            </div>
          </div>
          <!-- Poverty Pie -->

        </div>
      </div>

      <!-- Map -->  
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Distribution of Donations
          </div>
          <div class="chart-stage">
            <div id="us-chart"></div>
          </div>
        </div>
      </div>
      <!-- Map -->

      <!-- Metric 1 -->
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Number of Donations
          </div>
          <div class="chart-stage">
            <div id="number-projects-nd"></div>
          </div>
        </div>
      </div>
      <!-- Metric 1 -->

      <!-- Metric 2 -->
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Donations in USD
          </div>
          <div class="chart-stage">
            <div id="total-donations-nd"></div>
          </div>
        </div>
      </div>
      <!-- Metric 2 -->

    </div>

  </div>

    <hr>
    <p class="small text-muted">&#9829; it? Please donate at <a href="https://www.donorschoose.org/">Donors Choose</a> to empower student projects!</p>

  </div>

  <script src="./static/DonorsChoose/static/lib/js/jquery.min.js"></script>
  <script src="./static/DonorsChoose/static/lib/js/bootstrap.min.js"></script>
  <script src="./static/DonorsChoose/static/lib/js/crossfilter.js"></script>
  <script src="./static/DonorsChoose/static/lib/js/d3.js"></script>
  <script src="./static/DonorsChoose/static/lib/js/dc.js"></script>
  <script src="./static/DonorsChoose/static/lib/js/queue.js"></script>


  <script src="./static/DonorsChoose/static/lib/js/keen.min.js"></script>
  <script src='./static/DonorsChoose/static/js/graphs.js' type='text/javascript'></script>
</body>
</html>
